//Banana
@font-face {
  font-family: Banana;
  src: url('../fonts/banana-regular.woff') format('woff'),
}

$paragraph-margin-bottom: 0;

$font-family-sans-serif: Banana;

$primary: #DFDFDF;
$light: #EDEDED;

@import "~bootstrap";

a {
  text-decoration: none;
}

.head {
  background: radial-gradient(59.18% 59.18% at 50% 50%, rgba(169, 245, 199, 0.9) 0%, rgba(255, 194, 242, 0.9) 26.04%, rgba(255, 247, 167, 0.9) 47.4%, rgba(157, 190, 255, 0.9) 65.1%, rgba(255, 161, 161, 0.9) 83.85%, rgba(243, 243, 243, 0.081) 100%);
}

.linkHead {
  color:black;
}

.verde {
  background: radial-gradient(68.9% 68.9% at 50% 50%, rgba(169, 245, 199, 0.8) 11.46%, rgba(242, 242, 242, 0) 100%);
}

.blu {
  background: radial-gradient(59.37% 59.37% at 50% 50%, rgba(126, 170, 255, 0.8) 11.46%, rgba(225, 235, 255, 0) 100%);
}

.rosa {
  background: radial-gradient(58.03% 58.04% at 50% 50%, rgba(255, 194, 242, 0.8) 11.46%, rgba(255, 241, 252, 0) 100%);
}
